:root{
    --background-color: #f6f7fb;
    --red-color: #ff2c2c;
    --dark-color: #333;
    --white-color: #f9f9f9;
}
/* General Style */

body, button, input, textarea{
    font-family: 'Cuprum', sans-serif;
    font-family: 'Overpass', sans-serif;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    width: 100%;
}

.container{
    max-width: 95rem;
    padding: 0 4rem;
    margin: 0 auto;
    position: relative;
    z-index: 5;
}

.grid-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}
/* End General Style */

/* Header */

header{
    width: 100%;
    background-color: var(--white-color);
    overflow: hidden;
}

nav{
    width: 100%;
    position: relative;
    z-index: 50;
}

nav .container{
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    height: 6rem;
    align-items: center;
}

.logo{
    width: 80px;
    display: flex;
    align-items: center;
}

.links ul{
    display: flex;
}

.links a{
    text-transform: uppercase;
    display: inline-block;
    padding: 0.9rem 0.7rem;
    color: var(--dark-color);
    font-weight: 500;
    font-size: 0.95rem;
    line-height: 1;
    transition: 0.3s;
}

.links a.active{
    background-color: var(--red-color);
    color: var(--white-color);
    border-radius: 2rem;
    font-size: 1rem;
    padding: 0.8rem 1.3rem;
    margin-left: 1rem;
}
.links a:hover{
    color: var(--red-color);
}
.links a.active:hover{
    color: var(--background-color);
    background-color: var(--dark-color);
}
.social-links{
    display: flex;
    justify-content: space-between;
}

.social-links a{
    margin: 0 0.5rem;
}
.social-links a img{
    transition: 0.3s;
    border-radius: 1.5rem;
    width: 1.6rem;
}
.social-links a img:hover{
    border-radius: 0rem;
}

.header-content .container.grid-2{
    grid-template-columns: 2.5fr 3.5fr;
    height: calc(100vh - 96px);
    padding-bottom: 1.2rem;
    text-align: left;
}

.header-text{
    font-size: 3.8rem;
    line-height: 0.8;
}
/* End Header */